<div class="main">
    <h1>Abc</h1>
    <div class="admin">
        <span>logo</span>
        <h6><strong>welcome Admin here</strong></h6>
    </div>
    <div class="menu">
        <ul>
            <li><i class="fa-solid fa-bars"></i>&nbsp;<span>Dashboard</span></li>
            <li><i class="fa-solid fa-user-plus"></i>&nbsp;<span>Add Users</span></li>
            <li><i class="fa-solid fa-calendar-days"></i>&nbsp;<span>Calender</span></li>
            <li><i class="fa-solid fa-briefcase"></i>&nbsp;<span>Project</span></li>
            <li><i class="fa-solid fa-clipboard"></i>&nbsp;<span>Task</span></li>
            <li><i class="fa-solid fa-address-book"></i>&nbsp;<span>Contact</span></li>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime illum itaque eveniet, recusandae
                maiores ipsam minus, sit mollitia reprehenderit, quo iure! Consequatur similique minima, eius
                accusantium suscipit labore adipisci odit laudantium dolore possimus, commodi quis nesciunt maxime
                asperiores id impedit dolores repellat sint voluptas quaerat aspernatur ducimus doloremque dolorem.
                Explicabo esse maxime ipsa non possimus odit maiores harum beatae nisi iure quibusdam magni nobis minus
                earum porro a quasi quia dicta id, vero eius in pariatur accusantium. Repudiandae odio omnis, velit
                deleniti voluptatum sit accusantium nemo alias nihil sunt, molestias doloribus, quam esse rerum corrupti
                id quaerat maxime? Praesentium similique mollitia incidunt? Iure, maxime repellat vel ex sapiente
                fugiat. Deleniti delectus debitis quidem, ullam cum quisquam neque aspernatur consectetur dicta odit
                dolores, recusandae perferendis blanditiis omnis! Exercitationem pariatur reiciendis laudantium nulla ad
                adipisci quas harum obcaecati numquam cumque, molestias sed rem deleniti odit, vel enim deserunt beatae
                libero, nemo veniam. Saepe reiciendis minus reprehenderit, eos magnam at sint, sequi, porro error atque
                velit delectus harum eius! Quos, autem ea? Reprehenderit, rerum ipsum. Laboriosam facilis, mollitia
                cupiditate doloribus nisi similique quam eaque soluta, nesciunt modi quisquam fugiat in repellendus ea.
                In consectetur laboriosam esse animi perferendis tenetur tempore consequuntur ullam exercitationem
                corporis excepturi ad error maxime nostrum, adipisci aspernatur molestias quam illum voluptatibus
                cupiditate temporibus corrupti velit eaque. Vero ad sapiente sunt adipisci aspernatur cumque laudantium
                animi earum qui tenetur ut odio corporis nisi repellendus, sequi similique aliquid atque facere? In
                maiores corporis est tempora et cumque deserunt! Dolore in dolorem ab voluptatum autem quis iure
                explicabo exercitationem totam, alias cumque obcaecati nulla, repellat unde nesciunt eligendi est magni
                sapiente eveniet. Modi ipsam deleniti nulla, incidunt earum vel nobis beatae vitae atque, repudiandae
                tempore, deserunt itaque. Quibusdam sunt nulla ea et molestiae totam eaque, temporibus esse omnis
                aliquid tempora ex cum iste doloribus tenetur veniam aut provident vitae a dolore quisquam illo quia
                nisi? Ducimus quam facere qui, deserunt obcaecati numquam? Distinctio saepe praesentium, esse
                accusantium maiores eum minus voluptatum voluptates officiis aliquam aspernatur alias repudiandae quas
                voluptatem mollitia libero? Quisquam harum quaerat delectus voluptate recusandae labore dicta deserunt
                reprehenderit eaque necessitatibus. Nihil cum magni neque sit optio dolor omnis alias voluptate quas.
                Explicabo magni autem distinctio dolorem iure quibusdam iusto perspiciatis, ab maiores tempora nulla
                corrupti totam. Quam qui laudantium et laboriosam est aut quaerat fugit! Impedit qui voluptate
                voluptates saepe cumque libero dolore repellat alias, soluta odit ullam commodi modi. Labore voluptatem
                culpa ea dolorum impedit quis in inventore aspernatur saepe cum, ab quae provident aliquid placeat
                nesciunt voluptatum sunt eos voluptatibus pariatur dicta hic. Quibusdam beatae quae, sit hic sequi
                facere dolorum? Expedita debitis cupiditate dignissimos odit! Rem vel aliquam tenetur consectetur sequi,
                consequuntur, iure odit esse explicabo, accusamus assumenda laudantium voluptate sed aut quis alias
                error libero unde sint corrupti modi iste voluptatum atque? Asperiores consequuntur minus commodi ab,
                dolor iure sed quis. Tempora quis vitae cupiditate suscipit in quidem voluptatum exercitationem quasi,
                porro veniam similique obcaecati itaque officiis eaque excepturi id laudantium dolores cum accusamus.
                Maiores quod praesentium eveniet perspiciatis eaque dolorem repudiandae numquam ab, aperiam quasi esse
                eum sint ipsam adipisci nisi totam, sunt, reiciendis soluta. Consectetur voluptate voluptatibus
                distinctio quia eum aliquam deleniti, provident quisquam maxime sint ex perspiciatis obcaecati nobis!
                Architecto perferendis molestias cum reiciendis, aut dolores maiores quis enim possimus dolore,
                reprehenderit rerum? Nisi, magnam rem ex aliquam tempore a quae quos ducimus porro ratione vero
                perferendis quaerat amet consequuntur consectetur molestias repudiandae enim esse quasi maxime eius
                facere reprehenderit at fugit. In ipsa error magnam delectus aperiam nesciunt provident doloremque
                possimus omnis veniam, dolorem sed dignissimos. In iusto, quasi reprehenderit maiores suscipit at nihil,
                praesentium repellendus itaque, voluptatem aliquam deserunt! Amet cumque fugiat, eveniet dignissimos
                earum deleniti, quod quia dolorum alias cupiditate exercitationem reiciendis quibusdam nobis delectus
                porro molestiae nostrum aspernatur tempore dolor? Eius, sit labore? Porro repudiandae, dolor placeat
                aliquid et deserunt ea accusantium illo est beatae deleniti, incidunt facere iure expedita eveniet
                aliquam? Dicta quis voluptatum reprehenderit aut itaque fugiat officiis consectetur, amet rem earum
                laudantium voluptate dolore eaque suscipit quod, sequi aspernatur quisquam voluptates corrupti
                similique! Ab esse exercitationem aut atque explicabo laudantium doloremque magni nam voluptate hic,
                numquam saepe velit commodi vitae voluptatibus reiciendis vel consequatur qui ad possimus, id iusto quos
                harum. Nihil id quaerat deleniti placeat magni excepturi iure, possimus explicabo omnis quos quidem
                cumque mollitia corporis saepe nesciunt optio eaque ab molestiae cum maxime! Sint voluptatum atque et
                voluptatibus reiciendis, possimus laboriosam. Aliquam a harum id dolorum optio perferendis accusantium
                quos dolores. Numquam, tempore consequatur fugit dolorem, minus quibusdam quasi nobis atque illum
                consectetur expedita deserunt cumque esse impedit nihil possimus porro unde quia fuga ut consequuntur!
                Distinctio libero nostrum quidem quasi animi nemo vitae exercitationem quaerat cum architecto. Debitis
                libero dolorum facilis alias rerum optio vitae nihil beatae numquam omnis officiis ut, eaque pariatur
                dignissimos a animi architecto deleniti eum repudiandae necessitatibus ipsum sit. Delectus neque eveniet
                fugiat possimus qui eos blanditiis alias temporibus eum hic veritatis pariatur quibusdam numquam,
                officia, porro minus id magni. Dolorum culpa repudiandae animi nihil assumenda commodi cum autem placeat
                non qui, voluptatem eum excepturi perferendis vero, ipsum sint molestias quidem soluta corporis
                accusantium ipsam. Aliquid, beatae quisquam at deserunt assumenda delectus dolore fugiat animi fugit
                dolorem in, reiciendis illo dignissimos nobis cumque, voluptatibus excepturi deleniti explicabo adipisci
                magnam nulla aperiam vitae debitis! Animi tempore quam praesentium quo. Odit quidem id corrupti,
                voluptatem non sed molestias beatae, nisi tenetur expedita eligendi voluptatibus explicabo enim!
                Consequuntur dolores alias illum facere delectus, unde quasi vero impedit, ratione eveniet beatae
                numquam ab porro autem sequi. Tempore exercitationem ex ut iste expedita eum deserunt sapiente modi
                soluta fugiat rerum corrupti, aperiam maiores facilis necessitatibus qui sequi aliquid ullam odit.
                Consequuntur quo id sunt error saepe corporis est iusto quam, molestias deleniti tenetur culpa
                reiciendis qui incidunt sequi praesentium eveniet. Repudiandae assumenda cumque, placeat temporibus, ea
                rerum optio laboriosam ipsa atque sed iste magni at possimus. Vero nesciunt omnis aperiam nam
                temporibus! Dolores aspernatur qui ipsam a vitae! Repellat corporis nihil quisquam consectetur.</li>
        </ul>
    </div>
</div>