.main{
    background-color: lightgrey;
    display: flex;
    height: 100vh;
}

.left-menu-section{
    overflow: hidden;
}

.left-menu{
    width: 18%;
}

.right-section{
    width: 82%;
}
.navbar{
    height:8vh;
}
